<!-- <table class="table table-bordered">
  <thead>
    <tr > 
      <th scope="col">Select</th>
      <th scope="col">Car Color</th>
      <th scope="col">Type</th>
      <th scope="col">Registration</th>
      <th scope="col">Capacity</th>
      <th scope="col">Booking</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let getDetails of cars; let i = index;">
      <th scope="row"><input type="checkbox"></th>
      <td>{{getDetails.color}}</td>
      <td>{{getDetails.type}}</td>
      <td>{{getDetails.registration}}</td>
      <td>{{getDetails.capacity}}</td>
      <td><button type="button" class="btn btn-success"  (click)="getRowValue(getDetails)">Choose</button></td>
    </tr>
  </tbody>
</table>

<p>{{vishnu}}</p> -->

<app-table-data></app-table-data>