 <!-- <p>kfjlkfjklfjklfjkl{{element.Content}} </p>
<button (click)="childclick()">click Me</button> -->

 <!-- <div style="background-color: aliceblue; height: 50px; width: 30%;margin-top: 50px;">
They are child component this area using app component counter {{childcom}}
</div>  -->


<!-- 
<button (click)="parentBtnDecrement()">Decrement</button>
<span>{{childcom}}</span>
<button (click)="parentBtnIncrement()">Increment</button> -->

<!-- <p>child-child variable data to tranfer in child component</p> -->


<h5>services using child component</h5>
<ol >
    <li *ngFor="let customer of customers">{{customer.name}}</li>
</ol>

