<!-- main app container -->
<div class="card m-3 col-5 mx-auto fs-5">
    <h5 class="card-header text-center py-3">Registraion Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">

                <div class="form-group ">
                    <label class="my-3">Person Id</label>
                    <input type="text" formControlName="id" class="form-control" />
                </div>

                <div class="form-group ">
                    <label class="my-3">First Name</label>
                    <input type="text" formControlName="firstname" class="form-control" />
                </div>

                <div class="form-group ">
                    <label class="my-3">Last Name</label>
                    <input type="text" formControlName="lastname" class="form-control" />

                </div>
            </div>
            <div class="form-group ">
                <label class="my-3">Email</label>
                <input type="text" formControlName="email" class="form-control" />
            </div>

            <div class="form-group ">
                <label class="my-3">PhoneNumber</label>
                <input type="text" formControlName="phonenumber" class="form-control" />
            </div>

            <div class="form-group ">
                <label class="my-3">Date</label>
                <input type="date" formControlName="date" class="form-control" />
            </div>

            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                <br><br>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Reset</button>
            </div>
        </form>
    </div>
</div>