<table>
    <thead>
        <tr>
            <th attr.colspan="{{findColspan}}" >
                <!-- or [attr.colspan]="findColspan" -->
                Store Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>tomoto</td>
        </tr>

        <tr>
            <td>Kilogram</td>
            <td>1269Kg</td>
        </tr>

        <tr>
            <td>photo</td>
            <td><img [attr.Height]="imageHeight" [attr.Width]="imageWidth" [attr.src]="imagePath"></td>

        </tr>
    </tbody>
</table>