 <h1>The parent component Title is</h1>
<!-- 
 <app-parent></app-parent>
 <app-child></app-child>
 <app-child-child></app-child-child> -->

 <app-ser-item1></app-ser-item1>
 <app-ser-item2></app-ser-item2>
 <app-ser-item3></app-ser-item3>




<!-- 
<app-parent></app-parent> 
<app-child [title1]="element" (special)="parentCompo($event)">title</app-child>

<app-child *ngFor="let store of stored" [childComponent]="stored"></app-child> -->
 



<!-- 
<app-child [childcom]="appcom"></app-child>
<app-parent [parentcom]="appcom"></app-parent> -->


<!-- there are using child to parent data tranfer purpose -->

<!-- This p tag are app component area -->




<!-- 

<p>This data are child-child component data this data passing app component in parent component{{childcom}}</p>

<input type="text" [(ngModel)] = "age"> -->

<!-- 
<button (click)="routerUsingChild()">Click Child</button>
<button (click)="routerUsingChildChild()">Click child-child</button> -->

<!-- services method using  -->


<!-- <div class="w-50  bg-danger">
    <app-parent></app-parent>
</div>

<div class="w-50  bg-success">
    <app-child></app-child>
</div>

<div>
    <app-child-child></app-child-child>
</div> -->








<!-- start game using component -->
<!-- 
<app-start-game (lopVariable)="startGamelopVariable($event)"></app-start-game>

<app-even-numbers *ngFor="let evenValueNumber of evenValueNumbers" [number] = "evenValueNumber"></app-even-numbers>

<app-odd-numbers *ngFor="let addValueNumber of addValueNumbers" [number] = "addValueNumber"></app-odd-numbers>  -->


<!-- 
<button (click)="parentBtnDecrement()">Decrement</button>
<span>{{appcom}}</span>
<button (click)="parentBtnIncrement()">Increment</button>

<button (click)="parentBtnDecrement()">Decrement</button> -->

<!-- <router-outlet></router-outlet> -->
