

<h5>Parent component services using</h5>
<input type="text" #box>
<button (click)="addBtn(box.value)" class="btn btn-success">Add</button>


<!-- <p>parent works!</p> -->

<!-- <div style="background-color: aliceblue; height: 50px; width: 30%;margin-top: 50px;">
    They are child component this area using app component counter {{_parentcom}}
    </div> -->
<!-- 
<button (click)="parentBtnDecrement()">Decrement</button>
<span>{{parentcom}}</span>
<button (click)="parentBtnIncrement()">Increment</button> -->
