td{
    vertical-align: middle;
    background-color:rgba(199, 240, 235, 0.7);
}
.Tabeetd{
    vertical-align: middle;
    background-color:rgba(199, 240, 235, 0.7);
}

th{
    vertical-align: middle;
    background-color: thistle;
}

.ThBgColor{
    background-color:khaki;
}

.TdBgColor{
    background-color:antiquewhite;
}
.active{
    color :greenyellow
}