<!-- <input type="text" class="form-control" [(ngModel)]="severName" >
<p *ngIf="conditionTag; else noServer" >{{severName}}</p>
<ng-template #noServer>
<p>Not created server</p>
</ng-template>-->

<!-- 
<button  class="btn btn-primary" (click)="outputValue()">button</button>

<app-server *ngFor = 'let server of listOfValue'></app-server>

<button  class="btn btn-primary" (click)="toggleValue=!toggleValue">button</button>
<b *ngIf="toggleValue" class="display-block">This method are toggle check with working conditions</b>


<button  class="btn btn-primary" (click)="incresingValue()">button</button>
<div *ngFor="let logItem of log" 
[ngStyle] = "{backgroundColor : logItem >= 5 ? 'green' : 'red'}"
[ngClass] = "{'whiteClass' : logItem >= 5}">{{logItem}}</div>

<app-secondserver></app-secondserver>-->



<!-- <app-onchange-practics></app-onchange-practics> -->

<!-- <p>FuruitNames :  {{furuit_names}}</p> -->

<!-- <app-default-pipe-methods></app-default-pipe-methods> -->

<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- 
<app-property-binding></app-property-binding>-->

<app-attribute-binding></app-attribute-binding> 

<app-class-binding></app-class-binding>