<div class="col-lg-5 mx-auto">
    <div class="card">
        <div class="card-header py-3 text-center text-muted ">
            form Validation
        </div>
        <div class="card-body mx-3">
            <form class="form-horizontal" [formGroup]="formDetails" (ngSubmit)="tableSubmit()">
                <div class="form-group my-5">
                    <label for="" class=" col-lg-4 ">First Name</label>
                    <input type="text" class=" col-lg-7" formControlName="firstname"
                        [ngClass]="{'is-invalid':fControl.firstname.touched && fControl.firstname.errors}">
                    <div *ngIf="fControl.firstname.touched && fControl.firstname.errors" class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8" *ngIf="fControl.firstname.errors.required">Name is required</div>
                            <!-- <div *ngIf="fControl.firstname.errors.patten">Character only</div> -->
                        </div>

                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Last Name</label>
                    <input type="text" class=" col-lg-7" formControlName="lastname"
                        [ngClass]="{'is-invalid':fControl.lastname.touched && fControl.lastname.errors}">
                    <div *ngIf="fControl.lastname.touched && fControl.lastname.errors" class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8" *ngIf="fControl.lastname.errors.required">Last name is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Email</label>
                    <input type="text" class=" col-lg-7" formControlName="email"
                        [ngClass]="{'is-invalid':fControl.email.touched && fControl.email.errors}">
                    <div *ngIf="fControl.email.touched && fControl.email.errors " class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8" *ngIf="fControl.email.errors.required">Email is required</div>
                            <div class="col-lg-8" *ngIf="fControl.email.errors.pattern">Enter valid email</div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Date Of Birth</label>
                    <input type="date" class=" col-lg-7" formControlName="dob"
                        [ngClass]="{'is-invalid':fControl.dob.touched && fControl.dob.errors}">
                    <div *ngIf="fControl.dob.touched && fControl.dob.errors" class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8" *ngIf="fControl.dob.errors.required">Date is important</div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Phone Number</label>
                    <input type="text" class=" col-lg-7" formControlName="phonenumber"
                        [ngClass]="{'is-invalid':fControl.phonenumber.touched && fControl.phonenumber.errors}">
                    <div *ngIf="fControl.phonenumber.touched && fControl.phonenumber.errors" class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8" *ngIf="fControl.phonenumber.errors.required">Phone number is required</div>
                            <div class="col-lg-8" *ngIf="fControl.phonenumber.errors.pattern">Enter number only</div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Gender</label>
                    <div class="col-lg-8 d-inline form-check">
                        <label for="male" class="radio-inline form-check-lable me-5"><input class="form-check-input"
                                id="male" type="radio" name="gender" formControlName="gender" value="Male"> Male
                        </label>
                        <label for="female" class="radio-inline form-check-lable me-5"><input class="form-check-input"
                                id="female" type="radio" name="gender" formControlName="gender" value="Female"> Female
                        </label>
                        <label for="other" class="radio-inline form-check-lable me-5"><input class="form-check-input"
                                id="other" type="radio" name="gender" formControlName="gender" value="Other"> Other
                        </label>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Password</label>
                    <input type="password" class=" col-lg-7" formControlName="password"
                        [ngClass]="{'is-invalid':fControl.password.touched && fControl.password.errors}">
                    <div *ngIf="fControl.password.touched && fControl.password.errors" class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                        <div class="col-lg-8" *ngIf="fControl.password.errors.required">Password is required</div>
                        <!-- <div class = "col-lg-8" *ngIf="fControl.password.errors.minLength">Password must be at least 6 characters</div> -->
                        </div>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="" class=" col-lg-4">Confirm Password</label>
                    <input type="password" class=" col-lg-7" formControlName="conformpassword"
                        [ngClass]="{'is-invalid':fControl.conformpassword.touched && fControl.conformpassword.errors}">
                    <div *ngIf="fControl.conformpassword.touched && fControl.conformpassword.errors"
                        class="invalid-feedback">
                        <div class="row">
                            <div class="col-lg-4"></div>
                        <div class="col-lg-8" *ngIf="fControl.conformpassword.errors.required">Password is required</div>
                        </div>
                    </div>
                </div>

                <label for="" class=" col-lg-4">City</label>
                <select class="custom-select mb-3 col-lg-7" formControlName="cityName">
                    <!-- <option id="">Chennai</option>
                    <option id="">Tricy</option>
                    <option id="">Madurai</option>
                    <option id="">Tirunelveli</option>
                    <option id="">Tenkasi</option> -->
                    <option *ngFor="let city of City" (change)="changeCity($event)" [ngValue]="city">
                        {{ city }}
                    </option>
                </select>

                <div class="form-group my-5">
                    <label for="file" class="form-label col-lg-4">File Upload</label>
                    <input type="file" accept="image/*" id="file" class="form-input col-lg-7"
                        (change)="imgfileUpload($event)" formControlName="fileupload">
                </div>

                <div class="form-group my-5">

                    <label for="condition" class="form-check-lable"> <input type="checkbox" id="condition"
                            class="form-check-input me-3" formControlName="termcon"> Terms
                        and Condition </label>
                    <!-- <div *ngIf="fControl.termcon.errors.required">Accepts T&C </div> -->
                </div>

                <div class="form-group d-grid mb-5">
                    <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!formDetails.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>